target/
.mvn/wrapper/maven-wrapper.jar
[Ll]ogs/
!**/src/main/**/target/
!**/src/test/**/target/

RegulatoryModule/target/
RegulatoryModule/.mvn/wrapper/maven-wrapper.jar
RegulatoryModule/[Ll]ogs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

RegulatoryModule/.idea
RegulatoryModule/*.iws
RegulatoryModule/*.iml
RegulatoryModule/*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

